<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>kbcapitalss-Dev.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
				<key>dateExpires</key>
				<string>2024/02/03</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AppInsightor.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>BlocksKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Charts.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.12</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Haptica.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IGListDiffKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IGListKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>NetFunnel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ParallaxHeader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QuickLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>3.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>4.3.3</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SnapKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftDate.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>6.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftEntryKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>UITextView_Placeholder.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>netfox.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.19.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>onepassIosSdkfull_framework.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.03</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>43515CCEF661DAF820CAAE1FB2A28C2489DFA079</string>
						<key>dateExpires</key>
						<string>2024/02/03</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>public_onepass.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>NMKSGK9M23</string>
						<key>name</key>
						<string>KB CAPITAL CO.,LTD</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>NMKSGK9M23.kbc.car.ss.ios.dev</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>NMKSGK9M23</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>NMKSGK9M23.kbc.car.ss.ios.dev</string>
				</array>
			</dict>
			<key>name</key>
			<string>kbcapitalss-Dev.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>47fd556a-a511-48fb-af23-9fb321149363</string>
				<key>dateExpires</key>
				<string>2023/01/26</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: kbc.car.ss.ios.dev</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>NMKSGK9M23</string>
				<key>name</key>
				<string>KB CAPITAL CO.,LTD</string>
			</dict>
			<key>versionNumber</key>
			<string>5.1.4</string>
		</dict>
	</array>
</dict>
</plist>
